@media(min-width: 768px) {
   .user-profile{
      .user-info{
        
         &__image{
            position: relative;
            left: 25%;
            width: 80%;
            max-width: 270px;
            height: 30%;
            max-height: 220px;
            border-radius: 55px;
            object-fit: fill;
         }
         &__username{
            left: 25%;
         }
      }
   }
   }