$orange-color: #FF7D00;
$green-color: #15616D;
$light-color: #FFECD1;
$border-color: #DDDCDC;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
html {
    font-family: "Quicksand";
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.fawsome {
    font-family: 'Roboto', sans-serif;
}

.avatar{
    width: 30px;
    height: 25px;
    border-radius: 50%;
}

.join{
    color: $orange-color;
    font-size: 1.6rem;
}
.primary-btn{
    font-style: 1.2rem;
    padding: 3px 10px;
    background-color: $orange-color;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .3s;
    &:hover{
        background-color: #f89a42;
    }
}

.h1 {
    position: relative;
    font-size: 6.4rem;
    font-weight: bold;
    text-shadow:
        -2.5px -2.5px 0 #fff,
        2.5px -2.5px 0 #fff,
        -2.5px 2.5px 0 #fff,
        2.5px 2.5px 0 #fff;
        &::after, &::before{
            content: '';
            width: 70%;
            height: 4px;
            background-color: $orange-color;
            position: absolute;
            bottom: 2px;
            left: 30px;
        }
        &::before{
            bottom: 10px;
        }
}
.App__signUp{

        display: flex;
        flex-direction: column;
        font-size: 29px;
    
}
.header {
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../img/home_image.jpg");
    padding-left: 12px;


    &__p {
        margin-top: -10px;
        margin-left: 16px;
        font-size: 2.1rem;
        font-weight: bold;
        text-shadow:
            -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
            1px 1px 0 #fff;
    }
}

.loginBtn {
    position: absolute;
    width: 121px;
    height: 32px;
    right: 18px;
    bottom: 27px;
    font-size: 1.7rem;
    font-weight: bold;
    background: $orange-color;
    border-radius: 13px;
    border: none;
    cursor: pointer;
    &:hover{
        background-color: #f89a42;
    }
}

.main{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../img/food-1932466_640.jpg');
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-wrapper{
        width: 90%;
        height: 90%;
        background-color: rgba(254, 243, 233, .8);
        border: $orange-color 4px solid;
        border-radius: 20px;
        .h1{
            margin-left: .3em;
            margin-top: .3em;
        }
        .login-form,.singup-wrapper{
            margin: .3em auto;
            
            margin-top: 58px;
            width: 70%;
        &__label{
            display: block;
            font-size: 1.2rem;
            font-weight: bold;
            text-align: left;
            margin-left: 8px;
            &--pass{
                margin-top: 2em;
            }
        }
        &__input{
            background-color: $green-color;
            //sdsd
            border: none;
            height: 4.6rem;
            width: 100%;
            border-radius: 27px;
            padding: 10px;
            color: $orange-color;
            font-weight: bold;
        }
        }
        .loginBtn{
            position: initial;
            margin-top: 10px ;
        }
        .singup-wrapper{
            text-align: center;
            p{
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    }
}
.obrazek{
    width: 100px;
    height: 100px;
    background-image: url('../img/avatar-example.jpg');
}

.user-profile{
    width: 100vw;
    &-quote{
        font-size: 2rem;
        font-weight: 100;
        font-style: italic;
    }
    .user-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $green-color;
        &__image{
            width: 165px;
            height: 100px;
            border-radius: 55px;
        }
        &__personal{
            display: flex;
            flex-direction: column;
            align-items: center;
            &-upper{
                font-size: 1.4rem;
                width: 165px;
                display: flex;
                justify-content: space-between;
                font-weight: bold;
            }
            &-description{
                width: 80%;
                margin-top: 15px;
                margin-bottom: 40px;
                color: $light-color;
                font-weight: bold;
                text-align: center;
            }
        }
        &__emotes{
            display: flex;
            justify-content: space-between;
            width: 30%;
            &-item{
                display: flex;
                margin-right: 5px;
                p{
                    margin-left: 3px;
                }
            }
        }
    }
    &__images-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 314px;
            height: 230px;
            margin-bottom: 5px;
            border: 1px solid black;
        }
    }
}

.dinner-list{
    width: 100%;
    margin: 0 auto;
    &__header{
        margin: .7em;
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 12px;
    }
    &__box{
        font-weight: bold;
        margin-top: 5px;
        padding: 1em 2em;
        padding-bottom: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 1px solid $border-color;
        cursor: pointer;
        &:hover{
            background-color: rgba(241, 241, 241, 0.212);
        }
    }
    &__up,&__down{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    &__city{
        font-size: 2rem;
    }
    &__place{
        font-size: 1.2rem;
    }
    &__address{
        font-size: 1rem;
    }
    &__date{
        font-size: 1rem;
    }
    &__avatars{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

}


.dinner-info{
    width: 90%;
    margin: 0 auto;
    &__city{
        font-size: 3rem;
        margin-top: 38px;
    }
    &__date{
        font-size: 1.5rem;
    }
    &__name{
        font-size: 1.8rem;
        font-weight: bold;
    }
    &__address{
        font-size: 1.4rem;
    }
    &__about{
        margin: 20px auto;
        font-size: 1rem;
        font-weight: bold;
    }
    &__header{
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    &__user-box{
        display: flex;
        position: relative;
        width: 90%;
        background-color: #f89a42;
        margin: 4px auto;
    }
    &__avatar{
        position: relative;
        left: -15px;
        width: 40px;
        height: 40px;
    }
    &__user-name{
        font-size: 1.8rem;
        font-weight: bold;
        margin: 0 auto;
    }
}

.new-dinner{
    background-color: $green-color;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3{
        font-size: 2rem;
    }
    label{
        font-size: 1.2rem;
        margin-right: 10px;
    }
    &__input{
        color: grey;
        font-weight: bold;
        opacity: 1;
        font-size: 1.2rem;
        width: 90%;
        background-color: #FFECD1;
        margin: 5px auto;
        display: flex;
        justify-content: space-between;
    }
}
