@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Quicksand";
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.fawsome {
  font-family: 'Roboto', sans-serif;
}

.h1 {
  position: relative;
  font-size: 6.4rem;
  font-weight: bold;
  text-shadow: -2.5px -2.5px 0 #fff, 2.5px -2.5px 0 #fff, -2.5px 2.5px 0 #fff, 2.5px 2.5px 0 #fff;
}

.h1::after, .h1::before {
  content: '';
  width: 70%;
  height: 4px;
  background-color: #FF7D00;
  position: absolute;
  bottom: 2px;
  left: 30px;
}

.h1::before {
  bottom: 10px;
}

.header {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/home_image.jpg");
  padding-left: 12px;
}

.header__p {
  margin-top: -10px;
  margin-left: 16px;
  font-size: 2.1rem;
  font-weight: bold;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.loginBtn {
  position: absolute;
  width: 121px;
  height: 32px;
  right: 18px;
  bottom: 27px;
  font-size: 1.7rem;
  font-weight: bold;
  background: #FF7D00;
  border-radius: 13px;
  border: none;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #f89a42;
}

.main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/food-1932466_640.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .form-wrapper {
  width: 90%;
  height: 90%;
  background-color: rgba(254, 243, 233, 0.8);
  border: #FF7D00 4px solid;
  border-radius: 20px;
}

.main .form-wrapper .h1 {
  margin-left: .3em;
  margin-top: .3em;
}

.main .form-wrapper .login-form, .main .form-wrapper .singup-wrapper {
  margin: .3em auto;
  margin-top: 58px;
  width: 70%;
}

.main .form-wrapper .login-form__label, .main .form-wrapper .singup-wrapper__label {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  margin-left: 8px;
}

.main .form-wrapper .login-form__label--pass, .main .form-wrapper .singup-wrapper__label--pass {
  margin-top: 2em;
}

.main .form-wrapper .login-form__input, .main .form-wrapper .singup-wrapper__input {
  background-color: #15616D;
  border: none;
  height: 4.6rem;
  width: 100%;
  border-radius: 27px;
  padding: 10px;
  color: #FF7D00;
  font-weight: bold;
}

.main .form-wrapper .loginBtn {
  position: initial;
  margin-top: 10px;
}

.main .form-wrapper .singup-wrapper {
  text-align: center;
}

.main .form-wrapper .singup-wrapper p {
  font-size: 1.2rem;
  font-weight: bold;
}

.obrazek {
  width: 100px;
  height: 100px;
  background-image: url("../img/avatar-example.jpg");
}

.user-profile {
  width: 100vw;
}

.user-profile-quote {
  font-size: 2rem;
  font-weight: 100;
  font-style: italic;
}

.user-profile .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #15616D;
}

.user-profile .user-info__image {
  width: 165px;
  height: 100px;
  border-radius: 55px;
}

.user-profile .user-info__personal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile .user-info__personal-upper {
  font-size: 1.4rem;
  width: 165px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.user-profile .user-info__personal-description {
  width: 80%;
  margin-top: 15px;
  margin-bottom: 40px;
  color: #FFECD1;
  font-weight: bold;
  text-align: center;
}

.user-profile .user-info__emotes {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.user-profile .user-info__emotes-item {
  display: flex;
  margin-right: 5px;
}

.user-profile .user-info__emotes-item p {
  margin-left: 3px;
}

.user-profile__images-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile__images-box img {
  width: 314px;
  height: 230px;
  margin-bottom: 5px;
  border: 1px solid black;
}
/*# sourceMappingURL=style.css.map */