@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a.active {
  margin: 0 10px;
}

html {
  font-family: "Quicksand";
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.fawsome {
  font-family: 'Roboto', sans-serif;
}

.avatar {
  width: 30px;
  height: 25px;
  border-radius: 50%;
}

.join {
  color: #FF7D00;
  font-size: 1.6rem;
}

.primary-btn {
  font-style: 1.2rem;
  padding: 3px 10px;
  background-color: #FF7D00;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color .3s;
}

.primary-btn:hover {
  background-color: #f89a42;
}

.signup {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-btn {
  background: none;
  font-size: 1.8rem;
  padding: 5px 10px;
  margin: 0;
  color: #FF7D00;
  border: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.651);
  cursor: pointer;
}

.header-btn:hover {
  background-color: #f57803;
  color: white;
}

.makeStyles-paper-1 {
  max-width: 300px;
}

.App__signUp {
  display: flex;
  flex-direction: column;
  font-size: 29px;
}

.header {
  position: relative;
  height: calc(100vh - 32px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/home_image.jpg");
  padding-left: 12px;
}

.header .h1 {
  position: relative;
  font-size: 6.4rem;
  font-weight: bold;
  text-shadow: -2.5px -2.5px 0 #fff, 2.5px -2.5px 0 #fff, -2.5px 2.5px 0 #fff, 2.5px 2.5px 0 #fff;
  width: fit-content;
}

.header .h1::after, .header .h1::before {
  content: '';
  width: 95%;
  height: 4px;
  background-color: #FF7D00;
  position: absolute;
  bottom: 2px;
  left: 20px;
}

.header .h1::before {
  bottom: 10px;
}

.header__p {
  margin-top: -5px;
  margin-left: 16px;
  font-size: 2.1rem;
  font-weight: bold;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.loginBtn {
  position: absolute;
  width: 121px;
  height: 32px;
  right: 18px;
  bottom: 27px;
  font-size: 1.7rem;
  font-weight: bold;
  background: #FF7D00;
  border-radius: 13px;
  border: none;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #f89a42;
}

.main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/food-1932466_640.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .form-wrapper {
  width: 90%;
  height: 90%;
  background-color: rgba(254, 243, 233, 0.8);
  border: #FF7D00 4px solid;
  border-radius: 20px;
}

.main .form-wrapper .h1 {
  margin-left: .3em;
  margin-top: .3em;
}

.main .form-wrapper .login-form, .main .form-wrapper .singup-wrapper {
  margin: .3em auto;
  margin-top: 58px;
  width: 70%;
}

.main .form-wrapper .login-form__label, .main .form-wrapper .singup-wrapper__label {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  margin-left: 8px;
}

.main .form-wrapper .login-form__label--pass, .main .form-wrapper .singup-wrapper__label--pass {
  margin-top: 2em;
}

.main .form-wrapper .login-form__input, .main .form-wrapper .singup-wrapper__input {
  background-color: #15616D;
  border: none;
  height: 4.6rem;
  width: 100%;
  border-radius: 27px;
  padding: 10px;
  color: #FF7D00;
  font-weight: bold;
}

.main .form-wrapper .loginBtn {
  position: initial;
  margin-top: 10px;
}

.main .form-wrapper .singup-wrapper {
  text-align: center;
}

.main .form-wrapper .singup-wrapper p {
  font-size: 1.2rem;
  font-weight: bold;
}

.obrazek {
  width: 100px;
  height: 100px;
  background-image: url("../img/avatar-example.jpg");
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 32px);
  width: 100vw;
}

.user-profile-quote {
  font-size: 2rem;
  font-weight: 100;
  font-style: italic;
}

.user-profile__form-input {
  max-width: 90%;
}

.user-profile__form-procentage {
  font-size: 3rem;
  color: #ffa957;
}

.user-profile__form-progress {
  border-radius: 7px;
  width: 80%;
  max-width: 600px;
  height: 11px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.user-profile__form-progress::-webkit-progress-bar {
  background-color: #FF7D00;
  border-radius: 7px;
}

.user-profile__form-progress::-webkit-progress-value {
  background-image: linear-gradient(315deg, #fac86b 12%, #f3a053 62%);
  border-radius: 7px;
  box-shadow: 1px 1px 5px 3px rgba(241, 156, 29, 0.8);
}

.user-profile__form-progress::-moz-progress-bar {
  background-image: linear-gradient(315deg, #fac86b 12%, #f3a053 62%);
  border-radius: 7px;
  box-shadow: 1px 1px 5px 3px rgba(241, 156, 29, 0.8);
}

.user-profile__form-textarea {
  padding: 5px;
  width: 90%;
  max-width: 600px;
  height: 100px;
}

.user-profile .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 450px;
  background-image: url("../img/Vector.svg");
  background-size: 100% auto;
  background-position-Y: 0;
  background-repeat: no-repeat;
  background-color: #FF7D00;
}

.user-profile .user-info__edit {
  position: relative;
  cursor: pointer;
}

.user-profile .user-info__edit::before {
  position: absolute;
  right: 0;
  bottom: -15px;
  z-index: 20;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f044";
}

.user-profile .user-info__image {
  margin-top: 3em;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  border: 1px solid #FF7D00;
  box-shadow: 0px 0px 13px 3px black;
}

.user-profile .user-info__username {
  margin-top: .8em;
  margin-bottom: 1.5em;
  color: #15616D;
  font-size: 2.3rem;
}

.user-profile .user-info__personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.user-profile .user-info__personal-upper {
  font-size: 1.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.user-profile .user-info__personal-description {
  position: relative;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 40px;
  color: #FFECD1;
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
}

.user-profile .user-info__personal-description::after {
  z-index: 10;
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  background: transparent;
  width: 100%;
  height: 1px;
  box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.152);
}

.user-profile .user-info__emotes {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 90%;
  color: white;
  margin-bottom: 15px;
}

.user-profile .user-info__emotes::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  background: transparent;
  width: 100%;
  height: 1px;
  box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.152);
}

.user-profile .user-info__emotes-item {
  font-size: 3.4rem;
  display: flex;
  text-shadow: black 3px 3px 6px;
}

.user-profile .user-info__emotes-item:hover {
  color: #ffaf4d;
  cursor: pointer;
}

.user-profile .user-info__emotes-item p {
  margin-left: 5px;
}

.user-profile__images-box {
  width: 100%;
  padding: 0 5px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FF7D00;
}

.user-profile__images-box img {
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid black;
}

.user-profile__image {
  position: relative;
}

.user-profile__deletePhoto {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 2px solid #FF7D00;
  border-radius: 50%;
  transition: background-color .3s, color .3s;
  cursor: pointer;
}

.user-profile__deletePhoto:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.add-photos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em auto;
  width: 150px;
  height: 50px;
  font-size: 1.5rem;
  background-color: #d5d4d4;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0 1px 3px 1px #d6d5d5;
  cursor: pointer;
  transition: background-color .3s, border .3s, color .3s, font-weight .3s;
}

.add-photos:hover {
  background-color: white;
  border: 2px solid #d5d4d4;
}

.add-photos:hover .add-photos__icon {
  border-color: #FF7D00;
}

.add-photos__icon {
  color: grey;
  border: 3px solid grey;
  border-radius: 50%;
  padding: 2px 3px;
  font-size: 2rem;
  transition: border-color .3s;
}

.friends {
  background-color: white;
  width: 85%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends__wrapper {
  width: 100%;
}

.friends__listItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFECD1;
  width: 90%;
  margin: 4px auto;
  height: 25px;
}

.friends__listItem:hover {
  background-color: grey;
}

.friends__avatar {
  position: absolute;
  left: -10px;
}

.friends__right {
  position: relative;
  display: flex;
  margin-right: 0;
  width: 100%;
  justify-content: space-evenly;
}

.friends__delete {
  position: absolute;
  right: 5px;
}

.profileDinners {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 85%;
  margin-top: 5px;
}

.profileDinners__listItem {
  background-color: #FFECD1;
  width: 90%;
  margin: 4px auto;
}

.profileDinners__upper, .profileDinners__down {
  display: flex;
  justify-content: space-evenly;
}

.dinner-list {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.dinner-list__header {
  margin: .7em;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.dinner-list__box {
  font-weight: bold;
  margin-top: 5px;
  padding: 1em 2em;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #DDDCDC;
  cursor: pointer;
}

.dinner-list__box:hover {
  background-color: rgba(241, 241, 241, 0.212);
}

.dinner-list__up, .dinner-list__down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.dinner-list__left {
  overflow: hidden;
}

.dinner-list__city {
  font-size: 2rem;
}

.dinner-list__place {
  font-size: 1.2rem;
}

.dinner-list__address {
  font-size: 1rem;
}

.dinner-list__date {
  color: #FF7D00;
  font-size: 1rem;
}

.dinner-list__avatars {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dinner-list__search {
  transition: background-color .8s, padding 1s;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 10px;
  padding: 10px 0 10px;
  width: fit-content;
}

.dinner-list__search-bar {
  width: 0;
  transition: width 1s;
  border: transparent;
}

.dinner-list__search-icon {
  background: white;
  border: 1px solid #FF7D00;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .3s, color .3s, transform 1s;
}

.dinner-list__search-icon:hover {
  background-color: #FF7D00;
  color: white;
  border: 1px solid white;
}

.dinner-list__search-icon .fa-search {
  padding: 4px;
  cursor: pointer;
}

.rotate {
  animation: rotateSearch 1s forwards;
  margin-left: 4px;
}

.rotateBack {
  animation: rotateSearchBack 1s forwards;
}

.show-search {
  padding: 10px;
  background-color: #FF7D00;
}

.show-search-bar {
  width: 250px;
}

.dinner-info {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.dinner-info__city {
  font-size: 3rem;
  margin-top: 1em;
}

.dinner-info__date {
  font-size: 1.5rem;
}

.dinner-info__name {
  font-size: 1.8rem;
  font-weight: bold;
}

.dinner-info__address {
  font-size: 1.4rem;
}

.dinner-info__about {
  margin: 20px auto;
  font-size: 1rem;
  font-weight: bold;
}

.dinner-info__header {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.dinner-info__user-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;
  background-color: #f89a42;
  margin: 4px auto;
}

.dinner-info__user-box--maker {
  background-color: #15616D;
}

.dinner-info__avatar {
  position: relative;
  left: -15px;
  width: 40px;
  height: 40px;
}

.dinner-info__user-name {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 auto;
}

.new-dinner {
  background-color: #15616D;
  width: 100%;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-dinner h3 {
  font-size: 2rem;
}

.new-dinner label {
  font-size: 1.2rem;
  margin-right: 10px;
}

.new-dinner__input {
  color: grey;
  font-weight: bold;
  opacity: 1;
  font-size: 1.2rem;
  width: 90%;
  background-color: #FFECD1;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
}

.new-dinner__addButton {
  margin: 10px 0;
}

.timer-box {
  margin-top: 1.4em;
}

.timer-box__header {
  font-size: 1.2rem;
  font-weight: bold;
}

.timer-box__info {
  font-size: 1.4rem;
  color: #FF7D00;
}

.leaveButton {
  background: #15616D;
  border: none;
  padding: 3px 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.page404 {
  position: relative;
  background-position: center;
  background-image: url("../img/empty_cup.jpg");
  background-size: contain;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding-left: 20px;
}

.page404::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #05050565;
}

.page404__code {
  position: relative;
  z-index: 10;
  font-size: 3rem;
  transform: translateY(-70%);
}

.page404__text {
  position: relative;
  z-index: 10;
  font-size: 2rem;
  width: 40px;
}

.backToDinners {
  position: relative;
  z-index: 10;
  width: 70px;
}

.lds-ripple {
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #e60a0a;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes rotateSearch {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateSearchBack {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
/*# sourceMappingURL=style.css.map */